---
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale || "en";
const isEn = currentLocale === "en";
const targetLocale = isEn ? "sv" : "en";
const iconName = isEn ? "twemoji:flag-sweden" : "twemoji:flag-united-kingdom";

const href = getRelativeLocaleUrl(
  targetLocale,
  Astro.url.pathname.replace(`/${Astro.currentLocale}`, ""),
);

const ariaLabel = isEn ? "Visa sidan på svenska" : "View this page in English";
---

<a
  href={href}
  hreflang={targetLocale}
  rel="alternate"
  aria-label={ariaLabel}
  class="text-2xl transition hover:opacity-75 active:scale-95 active:opacity-50"
>
  <Icon name={iconName} aria-hidden="true" />
</a>
